

.first {
    background-color: #b2182b;
}
.second {
    background-color: #d6604d;
}
.third {
    background-color: #f4a582;
}
.fourth {
    background-color: #fddbc7;
}
.fifth {
    background-color: #f7f7f7;
}
.sixth{
    background-color: #d1e5f0;
}
.seventh{
    background-color: #92c5de;
}
.eighth{
    background-color: #4393c3;
}
.ninth{
    background-color: #2166ac;
}
